.sidebar {
  font-family: "Nunito", sans-serif;
  width: 12rem;
  padding: 0.25rem 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  min-height: 90vh;
}

mat-nav-list h3 {
  margin: 1rem 0;
}

table {
  background-color: white;
}

.selected {
  background-color: color-mix(in srgb, var(--primary-color) 50%, transparent);
}

.content {
  padding: 1.5rem;
}

.search-field {
  flex: 1;
  margin-left: 1rem;
}

.full-width-table {
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
}

mat-sidenav-container {
  flex: 1;
  background-color: white;
}

mat-sidenav {
  border-radius: 0;
}

#search-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
