.sidebar {
  font-family: "Nunito", sans-serif;
  width: 13rem;
  padding: 0.25rem 1rem;
  min-height: 90vh;
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, .1), 2px 0 4px -1px rgba(0, 0, 0, .06);
  border-right-color: var(--primary-color);
}

mat-nav-list h3 {
  margin: 1rem 0;
}

.selected {
  background-color: color-mix(in srgb, var(--secondary-color) 50%, transparent);
}

.content {
  padding: 1.5rem;
}

.search-field {
  flex: 1;
  margin-left: 1rem;
}

.full-width-table {
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  border-radius: 0;
}

#search-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tight {
  width: 8rem;
}

.highlight:hover {
  background-color: color-mix(in srgb, var(--secondary-color) 10%, transparent);
}
