p {
  font-weight: bold;
  font-size: 2rem;
  color: var(--secondary-color);
}

.text-btn {
  position: relative;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.2s;
}

.text-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: var(--accent-color);
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}

.text-btn:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.text-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header {
  height: 10vh;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navigation, #settings, #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  flex: 1;
  justify-content: space-evenly;
  img {
    max-height: 5em;
    cursor: pointer;
  }
}

#navigation {
  flex: 5;
  justify-content: flex-start;
}

#navigation button {
  margin-right: 2rem;
}

#settings {
  flex: 1;
  justify-content: flex-end;
}

.active {
  color: var(--text-color);
}

.active::after {
  background-color: var(--text-color)
}

.active:hover {
  color: var(--text-color);
  cursor: default;
}

.active:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}
