<header>
  <span id="logo">
    <img *ngIf="DarkLightBtnComponent.lightMode" src="/assets/logo/black.png" alt="Pan Sauce logo">
    <img *ngIf="!DarkLightBtnComponent.lightMode" src="/assets/logo/white.png" alt="Pan Sauce logo">
  </span>
  <span id="navigation">
    <button class="text-btn" routerLink="/">Home</button>
    <button class="text-btn" *ngIf="authService.isLoggedIn()" routerLink="/sauces">Sauces</button>
    <button class="text-btn" *ngIf="authService.isLoggedIn()" routerLink="/batches">Batches</button>
    <button class="text-btn" *ngIf="authService.isLoggedIn()" routerLink="/orders">Orders</button>
    <button class="text-btn" *ngIf="authService.isLoggedIn()" routerLink="/customers">Customers</button>
    <button class="text-btn" *ngIf="authService.isLoggedIn()" routerLink="/analytics">Analytics</button>
  </span>
  <span id="settings">
    <app-dark-light-btn/>
    <app-login-logout-btn/>
  </span>
</header>
