#background {
  width: 100%;
  background-image: url("/assets/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  min-height: 90vh;
}

.sticky {
  z-index: 10000;
  position: sticky;
  top: 0;
}
