#light {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(360deg);
}

#dark {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  transform: rotate(0);
}

#dark-light-btn {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}


.icon-btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-weight: bold;
  font-size: 0;
}

.icon-btn svg {
  color: var(--text-color);
  width: inherit;
  height: inherit;
  transition: 0.2s;
}

.icon-btn:hover svg {
  color: var(--accent-color);
  cursor: pointer;
}
