@use '@angular/material' as mat;
@use 'assets/themes/dark' as dark-theme;
@use 'assets/themes/light' as light-theme;

html {
  color-scheme: light;
  @include mat.theme((
    color: dark-theme.$primary-palette,
    typography: Nunito,
    density: 0,
  ));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: #4A525A #24272B;
    scrollbar-width: thin;
}

:root {
    --primary-color: #ffdcc7;
    --secondary-color: #f8ebe6;
    --text-color: #000000;
    --accent-color: #ff705d;
    --white-color: #faf8f8;
}

body {
    background-color: var(--secondary-color);
    font-family: "Nunito", sans-serif;
}

::selection {
  background-color: rgba(0,0,0,0.1);
  color: var(--accent-color);
}
