@use '@angular/material' as mat;
@use 'theme_dark' as dark-theme;
@use 'theme_light' as light-theme;

html {
  color-scheme: light;
  @include mat.theme((
    color: dark-theme.$primary-palette,
    typography: Nunito,
    density: 0,
  ));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: #4A525A #24272B;
    scrollbar-width: thin;
}

:root {
    --primary-color: #ffdcc7;
    --secondary-color: #f8ebe6;
    --text-color: #000000;
    --accent-color: #ff705d;
}

body {
  //color: dark#24272B;
    background-color: var(--secondary-color);
    font-family: "Nunito", sans-serif;
}

.text-btn {
  position: relative;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-weight: bold;
  font-size: 2.25rem;
  transition: 0.2s;
}

.text-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: var(--accent-color);
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}

.text-btn:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.text-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.icon-btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-weight: bold;
  font-size: 0;
}

.icon-btn svg {
  color: var(--text-color);
  width: inherit;
  height: inherit;
  transition: 0.2s;
}

.icon-btn:hover svg {
  color: var(--accent-color);
  cursor: pointer;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
