@use '@angular/material' as mat;
@use 'assets/themes/dark' as dark-theme;
@use 'assets/themes/light' as light-theme;

.light-mode {
  color-scheme: light;
  @include mat.theme((
    color: light-theme.$primary-palette,
    typography: Nunito,
    density: 0,
  ));
}

.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: dark-theme.$primary-palette,
    typography: Nunito,
    density: 0,
  ));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: #4A525A #24272B;
    scrollbar-width: thin;
}

:root {
    --accent-color: #ff705d;

    --primary-light-color: #f8ebe6;
    --secondary-light-color: #b68d7d;
    --text-light-color: #5f473d;
    --white-light-color: #faf8f8;

    --primary-dark-color: #24272B;
    --secondary-dark-color: #878d93;
    --text-dark-color: #FFFFFF;
    --white-dark-color: #6a5454;

    --primary-color: var(--primary-dark-color);
    --secondary-color: var(--secondary-dark-color);
    --text-color: var(--text-dark-color);
    --white-color: var(--white-dark-color);
}

body {
    background-color: var(--secondary-color);
    font-family: "Nunito", sans-serif;
}

::selection {
  background-color: rgba(128, 128,128,0.2);
  color: var(--accent-color);
}

.cdk-overlay-container {
  z-index: 500;
}
