<div id="container">
  <mat-sidenav-container class="batch-container">
    <mat-sidenav mode="side" opened class="sidebar">
      <mat-nav-list>
        <h3>Show</h3>
        <mat-list-item
          *ngFor="let show of showOptions"
          (click)="selectedShow.set(show)"
          [class.selected]="selectedShow() === show">
          {{ show.toUpperCase().replace("_", " ") }}
        </mat-list-item>
      </mat-nav-list>
      <button id="add-button" (click)="add()"  mat-raised-button><mat-icon>add</mat-icon>CUSTOMER</button>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <span id="search-field" *ngIf="selectedShow()==='all'">
        <mat-form-field appearance="outline">
          <mat-label>Search By</mat-label>
          <mat-select [value]="selectedSearch()"
                      (selectionChange)="selectedSearch.set($event.value)">
            <mat-option *ngFor="let option of searchOptions" [value]="option">
              {{ option.replace('_', ' ') | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput [value]="searchTerm()" (input)="searchTerm.set($any($event.target).value)"
                 placeholder="Customer #, phone number, customer's name, etc.">
        </mat-form-field>
      </span>

      <mat-form-field appearance="outline" *ngIf="selectedShow()!=='all'">
        <mat-label>Order registration range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [disabled]="selectedShow()!=='order_period'">
          <input matStartDate placeholder="Start date" (dateChange)="startDate.set($event.value)" />
          <input matEndDate placeholder="End date" (dateChange)="endDate.set($event.value)"/>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <table mat-table [dataSource]="customers()" class="full-width-table">

        <!-- Columns -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Customer #</th>
          <td mat-cell *matCellDef="let customer">{{ customer.number }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let customer">{{ customer.surname }}</td>
        </ng-container>

        <ng-container matColumnDef="patronymic">
          <th mat-header-cell *matHeaderCellDef>Patronymic</th>
          <td mat-cell *matCellDef="let customer">{{ customer.patronymic || '-'  }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
        </ng-container>

        <ng-container matColumnDef="contacts">
          <th mat-header-cell *matHeaderCellDef>Contact Numbers</th>
          <td mat-cell *matCellDef="let customer">
            <p *ngFor="let phone of customer.phones" style="margin: 5px 0">{{phone}}<br></p>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-icon-button (click)="update(customer.number)"><mat-icon>edit</mat-icon></button>
          </td>
        </ng-container>

        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
