<h2 mat-dialog-title>Edit Ingredient Info</h2>

<form [formGroup]="form()" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name"/>
      <mat-error *ngIf="form().controls.name.hasError('notUnique')">
        Name already taken!
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form().invalid">Submit</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</form>
