<div class="analytics-container-large">
  <div style="display: flex; gap: 2rem;">
    <div class="analytics-container">
      <section id="popularity-income" class="section">
        <h2>Sauce Popularity by Income</h2>

        <div style="display: flex">
          <div style="flex: 1">
            <h4>The most popular sauces</h4>
            <ul>
              <li *ngFor="let sauce of topSaucesSorted()">
                {{ sauce.sauceName }} — {{ sauce.sauceIncome || 0 }} $
              </li>
            </ul>
          </div>

          <div style="flex: 1">
            <h4>The least popular sauces</h4>
            <ul>
              <li *ngFor="let sauce of leastSaucesSorted()">
                {{ sauce.sauceName }} — {{ sauce.sauceIncome || 0 }} $
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="popularity-sales" class="section">
        <h2>Sauce Popularity by Sales</h2>

        <div style="display: flex">
          <div style="flex: 1">
            <h4 style="padding: 0">The most popular sauces</h4>
            <ul>
              <li *ngFor="let sauce of topSalesSorted()">
                {{ sauce.sauceName }} — {{ sauce.salesCount || 0 }} sales
              </li>
            </ul>
          </div>

          <div style="flex: 1">
            <h4>The least popular sauces</h4>
            <ul>
              <li *ngFor="let sauce of leastSalesSorted()">
                {{ sauce.sauceName }} — {{ sauce.salesCount || 0 }} sales
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="recipes" class="section">
        <h2>Recipes of the most popular sauces</h2>

        <div style="display: flex">
          <div style="flex: 1">
            <h4>By income</h4>
            <ul>
              <li *ngFor="let sauce of recipesByIncome()">
                <strong>{{ sauce.name }}</strong>
                <ul>
                  <li *ngFor="let ingredient of sauce.recipe">
                    {{ ingredient.name }} — {{ ingredient.weight }} г
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div style="flex: 1">
            <h4>By sales count</h4>
            <ul>
              <li *ngFor="let sauce of recipesBySales()">
                <strong>{{ sauce.name }}</strong>
                <ul>
                  <li *ngFor="let ingredient of sauce.recipe">
                    {{ ingredient.name }} — {{ ingredient.weight }} г
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>


      <section id="sales-by-type" class="section">
        <h2>Sales statistics by sauce type</h2>
        <select [(ngModel)]="selectedType">
          <option value="" disabled selected>Choose sauce type</option>
          <option *ngFor="let type of sauceTypes()" [value]="type">{{ type }}</option>
        </select>
        <label>From: <input type="date" [(ngModel)]="fromDate"></label>
        <label>To: <input type="date" [(ngModel)]="toDate"></label>
        <button (click)="loadSoldAmountByType()">Get number</button>
        <p *ngIf="soldAmount()">Sold batches: {{ soldAmount()?.totalAmount || 0 }}</p>
      </section>

      <section id="income-period" class="section">
        <h2>Overall income in period</h2>
        <label>From: <input type="date" [(ngModel)]="fromDate"></label>
        <label>To: <input type="date" [(ngModel)]="toDate"></label>
        <button (click)="loadTotalIncome()">Get income</button>
        <p *ngIf="totalIncome()">Income: {{ totalIncome()?.income || 0 }} $</p>
      </section>

      <section id="by-sauce-code" class="section">
        <h2>Number/Income by sauce code</h2>
        <select id="sauceKey" [(ngModel)]="selectedSauceKey">
          <option *ngFor="let sauce of sauces()" [value]="sauce.name">
            {{ sauce.number }} — {{ sauce.name }}
          </option>
        </select>

        <label>From: <input type="date" [(ngModel)]="fromDate"></label>
        <label>To: <input type="date" [(ngModel)]="toDate"></label>

        <button (click)="loadAmountByKey(false)">number</button>
        <button (click)="loadIncomeByKey(false)">income</button>

        <p *ngIf="queryAmount()">Number: {{ queryAmount()?.totalAmount || 0 }}</p>
        <p *ngIf="queryIncome()">Income: {{ queryIncome()?.income || 0 }} $</p>

        <div *ngIf="message() as msg" class="alert alert-info">
          {{ msg }}
        </div>

      </section>

      <section id="by-sauce-type" class="section">
        <h2>Number/Income by sauce type</h2>
        <select [(ngModel)]="selectedType">
          <option value="" disabled selected>Оберіть тип соусу</option>
          <option *ngFor="let type of sauceTypes()" [value]="type">{{ type }}</option>
        </select>

        <label>From: <input type="date" [(ngModel)]="fromDate"></label>
        <label>To: <input type="date" [(ngModel)]="toDate"></label>
        <button (click)="loadAmountByKey(true)">number</button>
        <button (click)="loadIncomeByKey(true)">income</button>
        <p *ngIf="queryAmountT()">Number: {{ queryAmountT()?.totalAmount || 0 }}</p>
        <p *ngIf="queryIncomeT()">Income: {{ queryIncomeT()?.income || 0 }} $</p>
      </section>


      <section id="favourite-sauce" class="section">
        <h2>Customer's Favourite Sauce</h2>

        <mat-form-field appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select [(ngModel)]="customerKey" (selectionChange)="loadFavouriteSauce(customerKey)">
            <mat-option *ngFor="let customer of customers()" [value]="customer.number">
              {{ customer.surname }} {{customer.name}} - {{customer.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="favouriteSauce() as sauce"><strong>{{ sauce.sauceName }}</strong> — {{ sauce.salesCount }} sales</p>

        <ng-template #loadingOrEmpty>
          <p>No favourite sauce found or still loading...</p>
        </ng-template>
      </section>

      <section id="clients" class="section">
        <div *ngIf="isLoading()">Loading...</div>

        <div *ngIf="error()" class="error">{{ error() }}</div>

        <div *ngIf="!isLoading() && !error()">
          <h2>Clients order info</h2>
          <h4><strong>Overall client number:</strong> {{ totalCustomers() }}</h4>

          <table class="table">
            <thead>
            <tr>
              <th>Client IDа</th>
              <th>Client surname</th>
              <th>Num of Batches</th>
              <th>Overall sum</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of customerOrders()">
              <td>{{ order.customerNumber }}</td>
              <td>{{ order.customerSurname }}</td>
              <td>{{ order.totalOrdersCount }}</td>
              <td>{{ order.totalOrdersPrice | number:'1.2-2' }} ₴</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
