<div id="container">
  <mat-sidenav-container class="batch-container">
    <mat-sidenav mode="side" opened class="sidebar">
      <mat-nav-list>
        <h3>Sort by</h3>
        <mat-list-item
          *ngFor="let sort of sortOptions"
          (click)="selectedSort.set(sort)"
          [class.selected]="selectedSort() === sort">
          {{ sort.toUpperCase().replace("_", " ") }}
        </mat-list-item>
      </mat-nav-list>
      <button id="add-button" (click)="add()"  mat-raised-button><mat-icon>add</mat-icon>SAUCE</button>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <span id="search-field">
        <mat-form-field appearance="outline">
          <mat-label>Search By</mat-label>
          <mat-select [value]="selectedSearch()" (selectionChange)="selectedSearch.set($event.value)">
            <mat-option *ngFor="let option of searchOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput [value]="searchTerm()" (input)="searchTerm.set($any($event.target).value)"
                 placeholder="Sauce #, sauce name, type #, or type name">
        </mat-form-field>
      </span>


      <table mat-table [dataSource]="sauces()" class="full-width-table">

        <!-- Columns -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Sauce #</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.number }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.name }}</td>
        </ng-container>

        <ng-container matColumnDef="shelfLife">
          <th mat-header-cell *matHeaderCellDef>Shelf Life</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.shelfLife }} d</td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.weight }} g</td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>Cost</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.cost | currency }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let sauce">{{ sauce.typeName}}<br>{{sauce.typeNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="recipe">
          <th mat-header-cell *matHeaderCellDef>Recipe</th>
          <td mat-cell *matCellDef="let sauce">
            <button mat-icon-button (click)="seeRecipe(sauce.number)"><mat-icon>visibility</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let sauce">
            <button mat-icon-button (click)="update(sauce.number)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button [disabled]="!canDelete(sauce.number)" (click)="delete(sauce.number)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
